name: Build

on: 
  push:
    paths:
      - '**.toml'
      - '**.py'
      - '**.cpp'
      - '**.h'
      - '**.c'
      - 'xmake.lua'
      - 'CMakeLists.txt'
      - '*.yml'
  pull_request:
    paths:
      - '**.toml'
      - '**.py'
      - '**.cpp'
      - '**.h'
      - '**.c'
      - 'xmake.lua'
      - 'CMakeLists.txt'
      - '*.yml'
  workflow_call:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5

      - name: Set cibuildwheel cache dir
        shell: bash
        run: echo "CIBW_CACHE_PATH=${GITHUB_WORKSPACE}/.cibw-cache" >> "$GITHUB_ENV"

      - name: Cache cibuildwheel tools
        uses: actions/cache@v4
        with:
          path: ${{ env.CIBW_CACHE_PATH }}
          key: cibw-${{ runner.os }}-${{ hashFiles('pyproject.toml', 'CMakeLists.txt', 'xmake.lua', '**/*.toml') }}
          restore-keys: |
            cibw-${{ runner.os }}-

      - name: Remove mingw from PATH (force MSVC)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          $items = $env:PATH -split ';' | Where-Object { $_ -and ($_ -notmatch '(?i)\\mingw64\\bin') -and ($_ -notmatch '(?i)^C:\\mingw64\\bin$') }
          $new = ($items -join ';')
          "PATH=$new" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append


      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_CACHE_PATH: ${{ env.CIBW_CACHE_PATH }}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
          retention-days: 7
